 .card1 {
        width: 500px;
        height: 400px;
        background: url("/web_img/hazy/Standard/canyon.jpg") no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
    }
    .card1:hover {
        background: url("/web_img/dehazed/Standard/canyon.jpg") no-repeat;
    }

    .caption-container {
        width: 100%;
        position: absolute;
        bottom: -30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .card1 .caption::after{
        content: "Haze Image1"
    }

    .card1:hover .caption::after{
        content: "Dehazed Image1"
    }

    .card2 {
        width: 500px;
        height: 400px;
        background: url("/web_img/hazy/Standard/train.jpg") no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
    }
    .card2:hover {
        background: url("/web_img/dehazed/Standard/train.jpg") no-repeat;
    }

    .caption-container {
        width: 100%;
        position: absolute;
        bottom: -30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .card2 .caption::after{
        content: "Haze Image2"
    }

    .card2:hover .caption::after{
        content: "Dehazed Image2"
    }

   
    .card3 {
        width: 500px;
        height: 400px;
        background: url("/web_img/hazy/RESIDE-Unannotated/BD_Baidu_098.jpeg") no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
    }
    .card3:hover {
        background: url("/web_img/dehazed/RESIDE-Unannotated/BD_Baidu_098.jpeg") no-repeat;
    }

    .caption-container {
        width: 100%;
        position: absolute;
        bottom: -30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .card3 .caption::after{
        content: "Haze Image3"
    }

    .card3:hover .caption::after{
        content: "Dehazed Image3"
    }


    .card4 {
        width: 500px;
        height: 400px;
        background: url("/web_img/hazy/O-Haze/22_outdoor_hazy.png") no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
    }
    .card4:hover {
        background: url("/web_img/dehazed/O-Haze/22_outdoor_hazy.png") no-repeat;
    }

    .caption-container {
        width: 100%;
        position: absolute;
        bottom: -30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .card4 .caption::after{
        content: "Haze Image4"
    }

    .card4:hover .caption::after{
        content: "Dehazed Image4"
    }
